<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
	
    <link rel="stylesheet" href="../css/style.css" tppabs="http://demo.demohuo.top/modals/55/5597/demo/css/style.css">
	
    <script src="../js/form222.js" ></script>
	
</head>
<body>
    <div class="form" style="position:relative">
        <!--登录表单-->
        <div class="form_login" style="position:absolute">

            <form id="form_login_id" action="#" method="post" th:action="@{/login}" th:object="${custinfo}">
                <h1>登录表单</h1>
                <div class="form_item">
                    <label >手机号：</label>
                    <input type="text" th:field="*{mobileNo}" placeholder="请输入手机号" required>
                </div>
                <div class="form_item">
                    <label >密码：</label>
                    <input type="password" th:field="*{password}" placeholder="请输入密码名" required>
                </div>
                <div class="form_item">
                    <input type="submit" value="登录">
                </div>
            </form>
            <div class="info">没有账号？点击<a href="goToRegister">点击注册</a>
            <div class="info" id="errorMsg" th:text="${errorMsg}" style="color: red;font-size: large;">发生错误</div>
            </div>
    </div>
</body>
</html>