<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cq.springcloud.dao.LoginDao">
    <resultMap id="custinfoResultMap" type="com.cq.springcloud.model.Custinfo">
        <result property="name" column="cust_name"/>
        <result property="password" column="cust_password"/>
        <result property="mobileNo" column="mobile_no"/>
    </resultMap>
   <insert id="insertIntoCustinfo" >
        insert into t_hope_cust(cust_name,cust_password,mobile_no) values (#{custinfo.name},#{custinfo.password},#{custinfo.mobileNo});
    </insert>
    <select id="queryCustInfoByMoblieAndPassword" resultMap="custinfoResultMap">
        select cust_name,cust_password,mobile_no from t_hope_cust where mobile_no =#{custinfo.mobileNo}  and cust_password=#{custinfo.password};
    </select>
</mapper>
